In [ ]:
a=20
b=10
c=a
a=b
b=c
print(a,b)
print(a+b)

In [ ]:
# bitwise operators 
# and & # or | # x or ^ # left shift << # right shift >> # negation ~
a=10
b=9
print(a & b)
print(a | b)
print(a^b)
print(a<<2)
print(a>>2)
print(~a)

In [ ]:
# assignment operations 
# (+=,-=,/=,*=,//=,**=)
a=23
b=40

b-=a
print(b)

In [ ]:
# memebership  opertors (in,notin.)
L1=[10,20,30,50,'ajay', 'ani']
print(10 in L1)
print(50  in L1)
print(100 in L1)
print(20 in L1)
print(2000 in L1)
print(2945 in L1)
print(2576 in L1)
print('ajay' in L1) 
print('ani'in L1)

In [ ]:
# identity operators( is,is not)(equal,not equal)
s1='ajay'
s2='ajay'
print(s1 is s2)
print(s1 is not s2)
print(s1 is not s2)

 ### control statements
     to control the flow of execution of a program 
     3 types
     1. conditional statements
     a.if
     b.if else
     c. elseif lader
     d.nested if else
     2. looping statements
     a.for loop
     b.while loop
     3.jumping statements
     a.break
     b.continue
     c.pass

### 1. conditional statements
 to check the condition 
 - simple if 
 -  syntax
     if(condition):(logical and comparision operations) 
          statements

In [ ]:
# simple if example 
#1. to check the given number is positive number or not ?
n= int(input('enter n value '))
if (n>0):
    
    
print (n, 'is a positive number')

if else:
syntax:
    if(condition):condition alaways true
    statements
    else: condition always false
    statements

In [ ]:
# if else example
# 1. to check whether given number even or odd?
n1=20
if(n1%2==0):
   print(n1 ,'is a even number ')
else:
    print(n1 ,'is a odd number')

In [ ]:
# 2. to find the biggest two numbers?
a=34
b=12
if (a>b):
    print ('a', 'is biggest value')

In [ ]:
# 3. to find the biggest of three numbers
a=10
b=20
c=30
if(a>b):
    print(a,'is big number' )
elif(b>c):
    print(b,'is big number')
else:
    print(c,'is big number')

elif
syntax:
    if(conditon):
    statements
    elif(condition):
    else:
    statements

In [ ]:
a=10
if (a==10):
    print('first if block')

- elif ladder :
- syntax:
      if(condition):
       statements
       elif(condition):
       statements
       -----
       -----
       else:
          statements

In [ ]:
# to print the weekdays using elif ladder.
# sample input : day :1->
# sample output: monday
day = int(input('enter day number'))
if (day ==1):
    print('monday')
elif (day==2):
    print('tuesday')
elif(day==7):
    print('sunday')

nested if else :
          if with in a if
 syntax:
      if (base condition):
        if (condition):
         statements
         else:
         statements
         else :
         statements

In [ ]:
username='ajay@gmail.com'
password=12345
u1=input(" username")
if( username==u1):
    p1=input(" password")
    if password==p1:
        print('welcom to my site..')

In [4]:
for i in range(1,10):
    print(i,end=" nanda kalyani  ")

1 nanda kalyani  2 nanda kalyani  3 nanda kalyani  4 nanda kalyani  5 nanda kalyani  6 nanda kalyani  7 nanda kalyani  8 nanda kalyani  9 nanda kalyani

### tasks
1. to print month name
2. to read the input to check whether given input alphabet or not?
3. to print the student grading system
4. to check whether the given number is divisible by 5and 20
5. to check whether the given two numbers is equal or not 
6.

In [2]:
int=input('enter a number 1')
print('januaray')

enter a number 12
januaray